<p id="notice"><%= notice %></p>

<p>
  <strong>Businessname:</strong>
  <%= @business.BusinessName %>
</p>

<p>
  <strong>Businesstype:</strong>
  <%= @business.BusinessType %>
</p>

<p>
  <strong>Businessphone:</strong>
  <%= @business.BusinessPhone %>
</p>

<p>
  <strong>Citylistingid:</strong>
  <%= @business.CityListingId %>
</p>

<p>
  <strong>Createdby:</strong>
  <%= @business.CreatedBy %>
</p>

<p>
  <strong>Createddate:</strong>
  <%= @business.CreatedDate %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
