<p id="notice"><%= notice %></p>

<p>
  <strong>Userphonenumber:</strong>
  <%= @device.UserPhoneNumber %>
</p>

<p>
  <strong>Oemid:</strong>
  <%= @device.OEMId %>
</p>

<p>
  <strong>Os:</strong>
  <%= @device.OS %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @device.Lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @device.Lng %>
</p>

<p>
  <strong>Createdby:</strong>
  <%= @device.CreatedBy %>
</p>


<p>
  <strong>Modifiedby:</strong>
  <%= @device.ModifiedBy %>
</p>



<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
