<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ContactName %><br>
    <%= f.text_field :ContactName %>
  </div>
  <div class="field">
    <%= f.label :CreatedBy %><br>
    <%= f.text_field :CreatedBy %>
  </div>
  <div class="field">
    <%= f.label :CreatedDate %><br>
    <%= f.datetime_select :CreatedDate %>
  </div>
  <div class="field">
    <%= f.label :ModifiedBy %><br>
    <%= f.text_field :ModifiedBy %>
  </div>
  <div class="field">
    <%= f.label :ModifiedDate %><br>
    <%= f.datetime_select :ModifiedDate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
